<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646098376012-fqkb9m022occgbvkinv5ion3go55ms8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646098376012-fqkb9m022occgbvkinv5ion3go55ms8k</string>
	<key>API_KEY</key>
	<string>AIzaSyAzphwQWub6Is5qhUlFzIyNTAK9Xy9geiU</string>
	<key>GCM_SENDER_ID</key>
	<string>646098376012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tukre.WeatherApplication</string>
	<key>PROJECT_ID</key>
	<string>weatherapplication-fdcee</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapplication-fdcee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646098376012:ios:ccfacf651e234dd9a06be9</string>
</dict>
</plist>